<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link rel="stylesheet" href="../public/css/styles-revenues.css" />
    <title>GastroAcre</title>
  </head>
  <body>
    <nav>
      <a href="../index.html">Home</a>
      <a href="sobre.html">O Chefe</a>
    </nav>
    <main>
      <section class="section-story">
        <h1><strong>Baixaria</strong></h1>
        <div class="img-iframe">
          <img src="../public/images/pratos/baixaria1.jpg" />
          <iframe
            src="https://www.youtube.com/embed/6ecoLmEdHUg"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <p class="story-dish">
          Sobre o 'batismo' do prato, existem muitas histórias, cada uma com uma
          versão diferente. De acordo com o jornalista Alexandre Nunes, o nome
          surgiu para separar uma briga depois que dois jornalistas debocharam
          de um grupo de pessoas que chegava de uma festa para tomar café no
          mercado. "Eles já estavam 'alterados' pela bebida, quando chegou umas
          senhoras de vestido longo e uns homens de fraque e gritaram: 'lá vem a
          baixaria', então para não virar uma confusão a Toinha disse que
          baixaria era o prato que eles pediram."
        </p>
      </section>

      <section class="preparation-mode">
        <article class="ingredients">
          <ul>
            <h3>Ingredientes</h3>
            <li>500 g de cuscuz</li>
            <li>1 kg de carne moída</li>
            <li>2 cebola médias</li>
            <li>4 tomates</li>
            <li>1 maço de coentro</li>
            <li>1 maço de cebolinha</li>
            <li>1 pimenta de cheiro</li>
            <li>4 dentes de alho</li>
            <li>5 ovos</li>
          </ul>
        </article>
        <article class="mode">
          <ol>
            <h3>Modo de Preparo</h3>
            <li>
              O primeiro passo é hidratar e temperar o cuscuz com a água, 8
              copos americanos de água, e meia colher de café de sal. Deixe
              hidratar por uns 10 minutos. Coloque o cuscuz em uma cuscuzeira,
              aperte com os dedos e coloque para cozinhar em fogo médio por 15
              minutos. Caso você não tenha uma cuscuzeira, estenda um pano de
              prato limpo, coloque o cuscuz hidratado no centro, coloque a tampa
              de uma panela, e amarre como se fosse uma trouxinha, coloque a
              tampa na panela com 1 dedo de água e cozinhe em fogo médio.
            </li>
            <li>
              Enquanto o nosso cuscuz cozinha, vamos cortar nossos legumes.
              Corte a cebola em cubos pequenos e o tomate também, pique o alho e
              a pimenta bem picadinhos, corte a cebolinha e o coentro bem
              fininhos.
            </li>
            <li>
              Agora tempere sua carne moída com sal e pimenta, em uma panela
              aquecida, refogue a carne com um pouco de óleo, quando a a carne
              da estiver quase cozida, coloque metade da cebola (deixe a outra
              metade para o vinagrete) e logo em seguida o alho e a pimenta,
              quando a carne estiver pronta, coloque a cebolinha picada.
            </li>
            <li>
              Para o vinagrete, junte a cebola, o tomate e o coentro e tempere
              com sal e limão.
            </li>
            <li>
              Frite os ovos na manteiga. Todos os nossos preparos estão prontos
              agora é só juntar todo mundo e comer!
            </li>
          </ol>
          <!-- <a href="../index.html"><img src="https://img.icons8.com/nolan/64/u-turn-to-left.png" /></a> -->
        </article>
        
      </section>
      <a href="../index.html"><img src="../public/images/botao-voltar.png" /></a>
    </main>
    <footer>
      <a href="./views/sobre.html">&copy; Copyright O CHEFE</a>
    </footer>
  </body>
</html>
