<%- include('./partials/nav') %>
    <main>
      <section class="section-story">
        
        <div class="boss-img">
          <img
          src="https://scontent.frbr1-1.fna.fbcdn.net/v/t1.0-9/85157417_2696812907072839_3957669585666179072_n.jpg?_nc_cat=102&ccb=3&_nc_sid=09cbfe&_nc_eui2=AeFVP6BFtiny4dyIPuMdKQNtgEaBcUcHw2KARoFxRwfDYoBctghSy5LJl5xZYHgukquVJsxS51chNIoDuaC7QIGD&_nc_ohc=l3o8TXlfAqkAX-kBrw5&_nc_ht=scontent.frbr1-1.fna&oh=943428fd758f76da7f85990f1642a25a&oe=604A99B6" />
        </img>
        </div>
        <div class="contato">
          <a href="https://www.instagram.com/bruguedes21/" target="_blank"><img
              src="/images/instagram.png" /></a>
          <a href="https://www.facebook.com/bruguesil" target="_blank"><img src="/images/Facebook.png" /></a>
          <a href="https://github.com/bruguedes" target="_blank"><img src="/images/gitHub.png" /></a>
          <a href="https://api.whatsapp.com/send?phone=5568992081608&text=BG%20InforSecurity%20agradece%20pelo%20contato."
            target="_blank">
            <img src="/images/whatsapp.png" />
          </a>
          <h1>Bruno Guedes</h1>
        </div>
        
        <div class="boss-story">
          <p>
            Nascido em Cuiabá - MT, criado em Rio Branco - AC desde os 2 anos de idade.<br>
            Formado em analise e desenvolvimento de sistema e pós-graduando e sistemas para internet porem
            nunca exerci a profissão de formação. Os caminhos me levaram para o serviço público a qual exerço a
            função de técnico e informática do estado do acre.
            Buscando mudança de ares, volto a estudar para ser inserido no mercado de trabalho na área de
            formação, mas especificamente como um desenvolvedor nodes fullstack.
  
          </p>
         
        </div>
      
      </section>

      <a href="/"><img src="/images/botao-voltar.png" /></a>
    </main>
    <%- include('./partials/footer') %>