<%- include('../partials/nav') %>
    <main>
      <section class="section-story">
        <h1><strong>Creme de Copuaçu</strong></h1>
        <div class="img-iframe">
         
      <img src="/images/pratos/creme-cupuacu.webp" />
      <iframe src="https://www.youtube.com/embed/esX4KRrCKAM" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        </div>
        <p class="story-dish">
          O cupuaçu é uma fruta típica da região de floresta amazônica, e isso
        inclui o Acre. Na região não é feita apenas creme com essa fruta, mas
        diversos tipos de doces. Além de bombons, também é comum ver picolés e
        sorvetes, não só na região Norte, mas em todo o País.</br>
        Tempo de preparo de 20 minutos e rende até 10 porções.
        </p>
      </section>

      <section class="preparation-mode">
        <article class="ingredients">
          <ul>
            <h3>Ingredientes</h3>

            <li>500 g de polpa de cupuaçu</li>
            <li>1 lata de creme de leite</li>
            <li>1 lata de leite condensado</li>
            <li>100 ml de água</li>
  
          </ul>
        </article>
        <article class="mode">
          <ol>
            <h3>Modo de Preparo</h3>

            <li>
              <p>Acrescente todos os ingredientes no liquidificador, mexa um pouco e bata até virar um creme homogêneo.
              </p>
            </li>
            <li>
              <p>Despeje em uma travessa e leve ao congelador</p>
            </li>
            <li>
              <p>Depois de cerca de 3 horas, sirva.</p>
            </li>
          </ol>
          <!-- <a href="../index.html"><img src="https://img.icons8.com/nolan/64/u-turn-to-left.png" /></a> -->
        </article>
      </section>
      <a href="/"><img src="/images/botao-voltar.png" /></a>
    </main>
    <%- include('../partials/footer') %>