<%- include('../partials/nav') %>
    <main>
      <section class="section-story">
        <h1><strong>Pirarucu à Casaca</strong></h1>
        <div class="img-iframe">
         
          <img src="/images/pratos/pirarucu.jpg" />
          <iframe
            
            src="https://www.youtube.com/embed/xBw-vLaE7Hk"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <p class="story-dish">
          Saboroso e tipicamente brasileiro, o pirarucu é o maior dos peixes de
          água doce (pode chegar a 2 metros) e aparece em inúmeras receitas da
          culinária amazônica, originalmente do estado do Amazonas o acreano
          adotou e acrecentando seu tempero caracteristico.O prato tem diversos
          acompanhamentos e chega às mesas todo enfeitado, por isso recebe o
          nome “de casaca”. Essa sugestão é ótima para as comemorações e fins de
          semana com a família. Rende 8 porções e tem um tempo de preparo de
          1h20, além dos preparativos da véspera.
        </p>
      </section>

      <section class="preparation-mode">
        <article class="ingredients">
          <ul>
            <h3>Ingredientes:</h3>
            <li>1 kg de pirarucu salgado</li>
            <li>1,5 kg de mandioca sem o fio central</li>
            <li>2 batatas</li>
            <li>Óleo de milho para fritar</li>
            <li>½ cebola em tiras</li>
            <li>3 dentes de alho picados</li>
            <li>3 colheres (sopa) de azeite de oliva</li>
            <li>3 tomates sem pele e sem sementes cortados em tiras</li>
            <li>2 colheres (sopa) de manteiga</li>
            <li>½ de xícara (chá) de azeitona verde picada</li>
            <li>½ maço de salsinha picada</li>
            <li>1 copo (americano) de leite</li>
            <li>
              1 copo (americano) de farinha de mandioca grossa ou farinha d'água
            </li>
            <li>2 bananas-da-terra em fatias finas na vertical</li>
            <li>3 ovos cozidos em rodelas</li>
            <li>Sal e pimenta-do-reino a gosto</li>
          </ul>
        </article>
        <article class="mode">
          <ol>
            <h3>Modo de Preparo</h3>
            <li>
              <p>
                Dessalgue o pirarucu em água gelada por 20 horas, trocando o
                líquido três ou quatro vezes.
              </p>
            </li>
            <li>
              <p>
                Cozinhe a mandioca com água salgada até cobrir; retire do fogo
                quando estiver desmanchando. Bata no liquidificador com a água
                do cozimento e reserve.
              </p>
            </li>
            <li>
              <p>
                Rale a batata e deixe de molho em água com gelo por 30 minutos.
                Frite em óleo quente, até dourar levemente. Espere esfriar e
                guarde em um pote fechado para não murchar.
              </p>
            </li>
            <li>
              <p>
                Corte o peixe em lascas. Refogue a cebola e metade do alho no
                azeite. Junte o pirarucu, refogue um pouco e acrescente o tomate
                e a azeitona. Quando o peixe estiver cozido, acerte o sal e
                adicione a salsinha.
              </p>
            </li>
            <li>
              <p>
                Refogue o alho restante em 1 colher (sopa) de manteiga. Junte o
                creme de mandioca, o leite, o sal e a pimenta-do-reino. Espere
                aquecer.
              </p>
            </li>
            <li>
              <p>
                Em uma travessa, espalhe uma camada fina do creme de mandioca.
                Cubra com o pirarucu e faça nova camada de creme. Polvilhe a
                farinha de mandioca.
              </p>
            </li>
            <li>
              <p>
                Grelhe a banana-da-terra em 1 colher (sopa) de manteiga e
                distribua sobre a farinha. Decore com os ovos e a batata palha e
                sirva. Bom apetite!
              </p>
            </li>
        </article>
      </section>
      <a href="/"><img src="/images/botao-voltar.png" /></a>
    </main>
    <%- include('../partials/footer') %>