    <%- include('../partials/nav') %>
    <main>
      <section class="section-story">
        <h1><strong>Quibe de Arroz e Macaxeira</strong></h1>
        <div class="img-iframe">
         
          <img src="/images/pratos/quibe.jpg" />
          <iframe
            src="https://www.youtube.com/embed/3cCOPHHNiew?start=19"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <p class="story-dish">
          O quibe foi incorporado à gastronomia acreana com mudanças bastante
          significativas no seu preparo, como a massa de macaxeira, raiz
          bastante consumida em toda a Amazônia. A criatividade e paladar do
          acreano foi além, o arroz também pode substituir a tradicional massa
          do quibe. Em outros estados o quibe de macaxeira é conhecido como
          croquete de carne, mas em qualquer lanchonete e restaurantes do Acre
          os quibes de macaxeira e de arroz são sempre uma ótima pedida.
        </p>
      </section>

      <section class="preparation-mode">
        <article class="ingredients">
          <ul>
            <h3>Ingredientes:</h3>
            <strong>Quibe de Arroz:</strong>
            <li>2 xícaras de arroz</li>
            <li>2 colheres de chá de colorau</li>
            <li>2 colheres de chá (rasas) de sal</li>
            <li>4 xícaras de água</li>
            <strong>Quibe de Macaxeira:</strong>
            <li>2 xícaras de mandioca cozida e amassada</li>
            <li>1 colher de sopa de queijo parmesão ralado</li>
            <li>farinha de trigo para "untar" as mãos</li>
            <strong>Recheio:</strong>
            <li>400g de carne bovina moída</li>
            <li>2 dentes de alho amassadinhos</li>
            <li>2 raminhos de hortelã</li>
            <li>2 raminhos de cebolinha</li>
            <li>1 colher de chá de colorau</li>
            <li>sal a gosto</li>
          </ul>
        </article>
        <article class="mode">
          <ol>
            <h3>Modo de Preparo</h3>
            <li>
              <p>
                Massa de arroz: Junte todos os ingredientes da massa de arroz em
                uma panela e leve ao fogo médio. Quando começar a ferver, tampe
                a maior parte da panela, baixe o fogo e cozinhe até a água
                secar. Depois desligue o fogo e tampe completamente a panela por
                cerca de 5 minutos. Feito isso, amasse o arroz cozido com um
                pilão ou passe num processador. Reserve.
              </p>
            </li>
            <li>
              <p>
                Para o recheio: Misture os ingredientes em uma frigideira
                anti-aderente e refogue esta carne temperada. Caso grude, você
                pode utilizar a técnica do pinga e frita, pingando um pouco de
                água nos lugares onde a carne está grudando. Refogue até ficar
                bem sequinha.
              </p>
            </li>
            <li>
              <p>
                Modele a massa do arroz e/ou da mandioca, em formato de quibe,
                colocando dentro o recheio. Como a massa da mandioca não leva
                ovo, nem farinha na sua composição, será necessário sempre
                passar farinha de trigo nas mãos para evitar que grude em seus
                dedos. Frite em óleo quente e sirva com pimenta.
              </p>
            </li>
          </ol>
          
        </article>
      </section>
      <a href="/"><img src="/images/botao-voltar.png" /></a>
    </main>
    <%- include('../partials/footer') %>